.lineChart{
    width: 1000px;
    height: 1000px;
}

#flexCont{
    width: 400px;
    height: 500px;
}

#submit-button{
    height: fit-content;
    font-size: 18px;
    width: max-content;
    padding: 0 20px; 
    align-self: flex-end;
}

